@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
}

body {
  color: #5B443D;
  line-height: 1;
  font-family: "Roboto";
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.filter__container {
  position: fixed;
}

.dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn {
  -webkit-backdrop-filter: blur(2px) saturate(80%);
          backdrop-filter: blur(2px) saturate(80%);
  background-color: rgba(180, 248, 200, 0.51);
  color: black;
  border: none;
}

.dropdown-toggle:hover {
  -webkit-backdrop-filter: blur(2px) saturate(80%);
          backdrop-filter: blur(2px) saturate(80%);
  background-color: rgba(180, 248, 200, 0.61);
  color: black;
  border: none;
}
.dropdown-toggle.show {
  -webkit-backdrop-filter: blur(3px) saturate(80%);
          backdrop-filter: blur(3px) saturate(80%);
  background-color: rgba(123, 247, 160, 0.51);
  color: black;
  border: none;
}

.dropdown-menu.show {
  -webkit-backdrop-filter: blur(2px) saturate(80%);
          backdrop-filter: blur(2px) saturate(80%);
  background-color: rgba(180, 248, 200, 0.51);
  color: black;
  border: none;
}

.dropdown-item:hover {
  background-color: rgba(86, 94, 100, 0.75);
  color: #fff;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #cdcfcc;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1024px;
  margin: 0 auto;
}

.cards__container {
  padding-top: 50px;
}
.cards__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
}
.cards__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 2;
  background-color: rgb(251, 224, 180);
  border: 1px solid rgba(142, 123, 93, 0.51);
  border-radius: 10px;
  padding: 10px;
}

.flipped {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.front {
  z-index: 1;
  position: relative;
  background-color: cyan;
  height: 100%;
  text-align: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.back {
  z-index: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-color: orange;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transition: -webkit-transform;
  transition: -webkit-transform;
  transition: transform;
  transition: transform, -webkit-transform;
}/*# sourceMappingURL=style.css.map */