@import "./fonts";
@import "./defaultnullstyle";
@import "./blocks/nav";
@import "./blocks/filter";
@import "./blocks/card-edu";

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: $backgroundColor;
}
.content {
  flex: 1 1 auto;
}

[class*="__container"] {
  max-width: 1024px;
  margin: 0 auto;
  // background-color: $backgroundColor;
}


