.menu {
  background-color: rgb(252, 173, 117);
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    // height: 50px;

    @media (max-width: 960px) {
      justify-content: space-around;
    }
  }

  &__title {
    padding-left: 15px;
  }

  &__menu {
    display: flex;
    gap: 20px;
    align-items: center;
    @media (max-width: 960px) {
      display: none;
    }
  }

  &__link {
    
    &:hover {
      color: brown;
      text-decoration: underline;
      transform: scale(1.02);
    }

   
  }

  &__menu-adaptive {
  }
}


.h1 {
}
.h6 {
}
.dropdown {
}
.btn {
}
.btn-secondary {
}
.btn-menu {
  display: none;
  height: 40px;
  @media (max-width: 960px) {
    display: block;
  }
}
.dropdown-toggle {
}
.dropdown-menu {
  z-index: 10;
}
.nav-menu {
}
.dropdown-item {
}
